<section class="text-black section-main rounded shadow-sm p-5 mb-4 border">
  <h2 class="mb-3">Sistema de Gestión de Incidentes</h2>
  <p class="lead mb-4">
    Reporta, gestiona y da seguimiento a los incidentes de tu comuna de manera eficiente y
    transparente
  </p>
  <button *ngIf="!isAdmin" class="btn btn-primary btn-lg" routerLink="/reportar-incidente">
    Reportar Incidente
  </button>
</section>

<section class="mb-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3 class="h5">Noticias de la Comuna</h3>
    <a href="#todas" class="text-decoration-none">Ver todas →</a>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <article class="col" *ngFor="let noticia of noticias">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <small class="text-muted d-block mb-2">
            {{ noticia.date | date:'dd-MM-yyyy' }}
          </small>
          <h4 class="card-title">{{ noticia.title }}</h4>
          <p class="card-text">{{ noticia.description }}</p>
          <!-- <span class="badge" [ngClass]="noticia.color">{{ noticia.category }}</span> -->

          <span class="badge" [ngClass]="getBadgeColor(noticia.category)">
            {{ noticia.category }}
          </span>
        </div>
      </div>
    </article>
  </div>
</section>