<div class="container mt-5">
  <div class="card p-4 shadow-sm">
    <h3 class="text-primary mb-3">Editar Perfil</h3>

    <form (ngSubmit)="saveChanges()">
      <div class="mb-3">
        <label>Nombre</label>
        <input [(ngModel)]="user.name" name="name" class="form-control" />
      </div>

      <div class="mb-3">
        <label>Apellido</label>
        <input [(ngModel)]="user.lastName" name="lastName" class="form-control" />
      </div>

      <div class="mb-3">
        <label>Teléfono</label>
        <input [(ngModel)]="user.phone" name="phone" class="form-control" />
      </div>

      <div class="mb-3">
        <label>Dirección</label>
        <input [(ngModel)]="user.address" name="address" class="form-control" />
      </div>

      <button type="submit" class="btn btn-success">Guardar cambios</button>
      <a routerLink="/perfil" class="btn btn-secondary ms-2">Cancelar</a>
    </form>
  </div>
</div>
